<div class="box">
  <h1>Weather App</h1>
  <div class="mt-3">
    <form #form="ngForm" (submit)="onSubmit()">
      <input
        type="text"
        class="form-control"
        placeholder="Search City"
        name="city"
        [(ngModel)]="cityName"
      />
    </form>
  </div>

  <div class="card text-bg-light m-3" style="max-width: 18rem">
    <div class="card-header text-center">
      <h2>{{ previousCityName }}</h2>
      <p><img src="{{ iconURL }}" alt="Weather Image" /></p>
    </div>
    <div class="card-body">
      <p class="card-text">Summary : {{ summary }}</p>
      <p class="card-text">
        Temperature: {{ temperature | number : "1.0-0" }} °C
      </p>
      <p class="card-text">
        Feels like: {{ feelsLikeTemp | number : "1.0-0" }} °C
      </p>
      <p class="card-text">Pressure: {{ pressure }} hPa</p>
      <p class="card-text">Humidity: {{ humidity }}%</p>
    </div>
  </div>
</div>
